<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.username">root</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3918/eshopdb?characterEncoding=utf-8
		</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">
			true
		</property>
		<property name="connection.is-connection-validation-required">
			true
		</property>

		<property name="show_sql">true</property>
		<mapping resource="com/lxsoft/model/JeAdmin/JeAdmin.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeAnnounce/JeAnnounce.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeChannel/JeChannel.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeCity/JeCity.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeClass/JeClass.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeComment/JeComment.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeConfig/JeConfig.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeNews/JeNews.hbm.xml" />
		<mapping resource="com/lxsoft/model/JePhoto/JePhoto.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeUser/JeUser.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeChanClass/JeChanClass.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeLink/JeLinks.hbm.xml" />
		<mapping resource="com/lxsoft/model/Product/JeProduct.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/Producter/JeProducer.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeAd/JeAd.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/TradeMark/JeTrademark.hbm.xml" />

		<mapping
			resource="com/lxsoft/model/TradeType/JeTradeType.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeBook/JeBook.hbm.xml" />

		<mapping
			resource="com/lxsoft/model/JeDeliberItem/JeDeliverItem.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeDeliberItem/JeDeliverType.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeDeliberItem/JeOrderForm.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeDeliberItem/JeOrderFormItem.hbm.xml" />
		<mapping resource="com/lxsoft/model/favShop/JeFavShop.hbm.xml" />
		<mapping resource="com/lxsoft/model/favShop/JeBuyCar.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeUserCard/JeCard.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeLog/JeLog.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/Product/JeUserGroupType.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeSoft/JeSoft.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeSlid/JeSlid.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeSlid/JeProductPhoto.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeUserInfo/JeUserInfo.hbm.xml" />
		<mapping resource="com/lxsoft/model/Product/JeUnit.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeConfig/JeBankCard.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeChat/Chat.hbm.xml" />
		<mapping resource="com/lxsoft/model/JePage/JePage.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeUserInfo/JeUserChannel.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeUserInfo/JeUserClass.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/styleName/JeStyleName.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/userBook/JeUserBooK.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/userBook/JeUserOder.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/userBook/JeUserConfig.hbm.xml" />
		<mapping resource="com/lxsoft/model/metiel/JeMetiel.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/jeuserdetail/JeUserDetail.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/jetempconfig/JeTempletconfig.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/jetemp/JeTempletclass.hbm.xml" />

		<mapping
			resource="com/lxsoft/model/subClassanswer/JeAnswer.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/subClasstitle/JeClasstitle.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/subClassType/JeClasstype.hbm.xml" />


		<mapping
			resource="com/lxsoft/model/JeUserAnswer/answer/JeUseranswer.hbm.xml" />
		<mapping
			resource="com/lxsoft/model/JeUserAnswer/answerdetail/JeUseranswerdetail.hbm.xml" />
		<mapping resource="com/lxsoft/model/JeMsg/JeMsg.hbm.xml" />
		<mapping resource="com/lxsoft/model/joblist/JeJoblist.hbm.xml" />
		<mapping resource="com/lxsoft/model/jeUserDefine/JeUserdefine.hbm.xml"/>
		<mapping resource="com/lxsoft/model/jeUserDefine/JeDefineclass.hbm.xml"/>

	</session-factory>

</hibernate-configuration>